/* styles.css */
.image-viewer-modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
  }
  
  .modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background: #fff;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
  }
  